.navbar {
    background-color: #42687c;
   

}

.div-ul{
display: flex;
justify-content: space-around;
align-items: center;
width: 100%;
margin: 0;
height: 90px;
top: 0;
list-style: none;

}

.div-li{
text-decoration: none;
font-size: 1.3em;
font-weight: 500;
color: black;

}

.icono-cart{
    
    color: black;
}

.link-icono-cart:hover{
    background-color: white;
}